<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Plan-Your-Travel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8C1E43A1BF47A3C00999AA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8C1E44E1BF47A3C00999AA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8C1E4591BF47A3C00999AA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
